<!-- <h1>My Goals</h1>
<hr style="width:90%">
<br>
<ol>
  <div *ngFor = 'let goal of goals; let i = index'>
    <li appStrikethrough >{{goal.name}} due on {{goal.completeDate|date|uppercase}}.</li>
    <button type="button" (click)=toggleDetails(i)>Toggle Details</button>
    <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
  </div>
</ol>
<p *ngIf='goals.length >= 5'>You have too many goals!</p> -->

<h1>My Goals</h1>
<hr style="width:90%">

<div class="container">
  <div class="row">
    <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
  </div>
</div>


<div class="container">
    <div class="row" *ngFor="let goal of goals;let i = 'index'">
        <div class="row">
            <h4 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
            <button class="btn-primary" (click)='toggleDetails(i)'>Toggle Details</button>
        </div>

        <div class="row" *ngIf="goal.showDescription">
        <app-goal-details  [goal]='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
    </div>

</div>

</div>

<p *ngIf='goals.length > 5'>You have too many goals</p>
